################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/thread_dlg/Debug
/x64/Debug
/thread_dlg/x64/Debug
